.academicCalender{
    display: flex;
    align-items: center;
    justify-content: center;
    height:fit-content;
    background: var(--grey);
    flex-direction: column;
    justify-content: space-evenly;

    .LOADERl{
        padding: 4rem .8rem;
        background: white;
        border-radius: .5rem;
        margin:3rem 0;
        height: 30rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
    }

    .emmbedContainer{
        width: 80%;
        height: 80rem;
        background: white;
        border-radius: .3rem;
        overflow: hidden;
        border: 1px solid var(--borders);
        margin:  0 auto;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    h2{
        width: 93%;
        padding-top: 6rem;
        text-align: center;
        margin: 0 auto;
        color: var(--dark-blue);
        font-weight: var(--nzito);
        font-size: var(--title-size);
    }

    .downloadCalender{
    
        a{
             background: var(--red);
             padding: 2rem 3.4rem;
             border-radius: .3rem;
             display: inline-block;
             font-weight: 600;
               position: relative;
               span{
                   position: relative;
                   z-index: 5;
               }

               &:hover::after{
                   width: 100%;
                   left: 0;
               }

             &::after{
                 transition: all .28s cubic-bezier(0.215, 0.610, 0.355, 1);
                 content: '';
                 position: absolute;
                 left: -1rem;
                 top: 0;
                 width: 2rem;
                 height: 100%;
                 background: var(--dark-red);
                 z-index: 1;
             }
        }
    }
}