.onlinePortal
{
    width: 100%;
    background: var(--grey);
    min-height: 100vh;
    color:var(--dark-blue);
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

  
    .login-as{
        margin-top: 4rem;
        a{
        padding:1.5rem 2.8rem;
        border-radius:1.5rem;
        background: var(--reded);
        color: var(--white);
        font-weight: 600;
        text-align: center;
        transition: all .3s ease;
        &:hover{
            opacity: .7;
        }
        }
    }
    .another span{
        &:hover{
            opacity: .7;
        }
        transition: all .3s ease;
        padding:1.5rem 2.8rem;
        border-radius:1.5rem;
        color: var(--white);
        cursor: pointer;
        font-weight: 600;
        text-align: center;
        background: var(--dark-blue) !important;
    }


    .waitText
    {

        font-size: 1.6rem;
        color: var(--red);
        font-weight: 600;

    }

    .choose{
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: .8rem;
          width: 31%;

          &>div{
              
            width: 50%;
            background: var(--blue);
            transition: all .3s ease;
            color: var(--white);
            font-weight: 600;
            margin-right: .5rem;
            border-radius: .3rem;
            cursor: pointer;
            position: relative;
            padding: 2rem 0;
            text-align: center;

              &:hover{
                background: var(--blue-hover);
              }

              span{
                  position: absolute;
                  top: 0px;
                  left: 0;
                  height: 5px;
                  background: var(--yellowOg);
                  z-index: 5;
                  width: 100%;
              }
          }
    }

    .backHome{
        font-size: 1.5rem;
        font-weight: 600;
        background: var(--blue);
        padding: .5rem 1.8rem;
        border-radius: .3rem;
        position: absolute;
        top: 2%;
        left: 2%;
        color: var(--white);
        z-index: 5;
    }

    .remnantLogoBox{
        width: 13rem;
        height:13rem;
        overflow: hidden;
margin-bottom: 1.5rem;

        img{
            width: 100%;
            height: 100%;
             object-fit: cover;

        }
    }

    .onlineInside{
        background: var(--white);
        height: fit-content;
        width: 50%;
        max-width: 40rem;
        padding: 1.8rem;
        border: 1px solid var(--borders);

        .headForm{
       
            h2{
                text-align: center;
                font-weight: var(--nzito);
            }
            p{
                font-weight: 600;
                color:var(--red);
                text-align: center;
                margin-bottom: 2.5rem;
            }
        }

        form{
            text-align: start;

            .oneInput{
                margin-bottom: 2rem;
            }
            input{
                padding: 1.5rem 2.8rem;
                width: 100%;
                 &::placeholder{
                     color: black;
                     font-weight: normal;
                 }
                 &:focus{
                     font-size: 1.6rem;
                 }
                font-weight: 600;
            }
            label{
                font-weight: 600;

            }
            button{
                width: 100%;
                padding: 1.8rem 2.8rem;
                background: var(--blue);
                color:var(--white);
                font-size: 1.6rem;
                font-weight: 600;
                border: none;
                cursor: pointer;
                transition: all .3s ease;


                &:hover{
                    background: var(--blue-hover);
                }
            }
        }

    }
}