
:root {
  --dark-red: #BA2026;
  --blue-hover:rgba(12, 12, 182, 0.83);
  --red: #DF2D22;
  --grey: rgb(234, 234, 234);
  --yellow: #ffe428;
  --yellowOg:#f68b1f;
  --white: #fff;
  --black: #000;
  --reded: #D62016;
  --blue: #003B7C;
  --dark-blue: #002f63;
  --blue-light: #54ACD2;
  --green-lighter: #20C3A6;
  --green-light: #095576;
  --darkest-blue: #051c34;
  --title-size: 2.2rem;
  --nzito: 800;
  --littleFade: .98;
  --shadow-down: 0px 19px 39px -17px #00000049;
  --borders:rgba(203, 203, 203, 0.549);
}

.before {
  width: 100vw;
  position: fixed;
  right: -100vw;
  top: 2%;
  height: 100vh;
  background: var(--green-lighter);
  z-index: 100;
}

.after {
  width: 100vw;
  position: fixed;
  right: -100vw;
  top: 2%;
  height: 100vh;
  background: var(--blue-light);
  z-index: 150;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

* ::before,
* ::after {
  background: inherit;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* * :focus-visible {
  outline-color: green;
}

* a:visited,
* a:link {
  color: currentColor;
  text-decoration: none;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  /* scroll-behavior: smooth; */
  /* ref=> 16px / 10px = 62.5%  which 1rem = 10px*/
  direction: ltr;
 
}


html body {
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
  font-weight: 400;
  line-height: 1.2;
  /* scroll-behavior: smooth !important; */
  background:var(--blue);
  color: var(--white);
  max-width: 1380px;
  margin: 0 auto;
}




html body .newsEvents .singlePostBox .postmainTitle,
html body .newsEvents .singlePostBox .postmainTitle
{
  width: 55% !important;
}

html body .newsEvents .singlePostBox .postedDate,
html body .postedDDate
{
  width: 20%;
}



html body .admin .admin-menu{
  transition: all .3s ease;
  z-index: 500;
}

html body header{
  position: fixed !important;
}


html body .adminScreen{
  background: #00000063 !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  transition: all .3s ease;
  z-index: 200;
}